.content-top
    .container
        .gerb.gerb-mob
            .gerb__icon 
                img(src="img/gerb.png" width="60" height="58") 
            .gerb__article Лицензия на проведение<br> водительских медкомиссий

        .cont-top
            .cont-top__header
                .cont-top__column
                    .cont-top__title Cправка в ГИБДД за 1 день! 
                    .cont-top__sub-title Официальная медсправка 003-В/у с наркологом и психиатром

                .cont-top__column
                    .quote
                        .quote__icon
                            img(src="img/medical-symbol.png" width="50" height="50")
                        .quote__article  
                            span Получите медсправку  официально! 
                            |Личное прохождение медицинской комиссии является обязательным для получения любых медицинских документов. Купить медицинские справки нельзя!

            .cont-txt
                p Для получения водительского удостоверения на право управления транспортными средствами необходимо в ГИБДД предоставить «Медицинское заключение о наличии (об отсутствии) у водителей транспортных средств (кандидатов в водители транспортных средств) медицинских противопоказаний, медицинских показаний или медицинских ограничений к управлению транспортными средствами» по новой форме 003- В/у.

    .cards-wrap
        .cards-gallery.swiper-container
            .swiper-wrapper
                .swiper-slide 
                    .cards-gallery__item
                        .cards-gallery__top
                            .cards-gallery__column
                                .cards-gallery__img
                                    img(src="img/audi.png")
                            .cards-gallery__column
                                .cards-gallery__title Справка для ГИБДД (форма 003/ву) для категории А, В + нарколог и психиатр

                                .cards-gallery__sub-title Для получения водительских прав категории А1, В, В1, ВЕ, М

                                ul.card-info
                                    li
                                        .card-info__article Стоимость
                                        .card-info__price.card-info__green 
                                            b 2 500 
                                            span р.
                                    li
                                        .card-info__article Время оформления
                                        .card-info__price.card-info__blue
                                            span.card-info__txt от 
                                            b 15 
                                            span.card-info__txt мин
                                    li
                                        .card-info__article Срок действия
                                        .card-info__price.card-info__blue
                                            b 12 
                                            span.card-info__txt мес

                        .cards-gallery__bottom
                            .doc-list__title Каких врачей нужно проходить:

                            .doc-list__wrap
                                ul.doc-list
                                    li
                                        .doc-list__img 
                                            img(src="img/doc-1.png" width="80" height="80")
                                        .doc-list__article Терапевт
                                    li
                                        .doc-list__img 
                                            img(src="img/doc-2.png" width="80" height="80")
                                        .doc-list__article Офтальмолог
                                    li
                                        .doc-list__img 
                                            img(src="img/doc-3.png" width="80" height="80")
                                        .doc-list__article Нарколог
                                    li
                                        .doc-list__img 
                                            img(src="img/doc-4.png" width="80" height="80")
                                        .doc-list__article Психиатр

                            .cards-gallery__btn-wrap
                                button(type="button").btn.cards-gallery__btn 
                                    |Записаться на медкомиссию 
                                    span со скидкой

                .swiper-slide 
                    .cards-gallery__item
                        .cards-gallery__top
                            .cards-gallery__column
                                .cards-gallery__img
                                    img(src="img/kamaz.png")
                            .cards-gallery__column
                                .cards-gallery__title Справка для ГИБДД для категории С, D, E с электроэнцефалограммой + нарколог и психиатр

                                .cards-gallery__sub-title Для получения водительских прав категории С, C1, CE, D, D1

                                ul.card-info
                                    li
                                        .card-info__article Стоимость
                                        .card-info__price.card-info__green 
                                            b 2 800 
                                            span р.
                                    li
                                        .card-info__article Время оформления
                                        .card-info__price.card-info__blue
                                            span.card-info__txt от 
                                            b 30 
                                            span.card-info__txt мин
                                    li
                                        .card-info__article Срок действия
                                        .card-info__price.card-info__blue
                                            b 12 
                                            span.card-info__txt мес

                        .cards-gallery__bottom
                            .doc-list__title Каких врачей нужно проходить:

                            .doc-list__wrap
                                ul.doc-list
                                    li
                                        .doc-list__img 
                                            img(src="img/doc-1.png" width="80" height="80")
                                        .doc-list__article Терапевт
                                    li
                                        .doc-list__img 
                                            img(src="img/doc-2.png" width="80" height="80")
                                        .doc-list__article Офтальмолог
                                    li
                                        .doc-list__img 
                                            img(src="img/doc-3.png" width="80" height="80")
                                        .doc-list__article Нарколог
                                    li
                                        .doc-list__img 
                                            img(src="img/doc-4.png" width="80" height="80")
                                        .doc-list__article Психиатр
                                    li
                                        .doc-list__img 
                                            img(src="img/doc-5.png" width="80" height="80")
                                        .doc-list__article Отоларинголог

                            .cards-gallery__btn-wrap
                                button(type="button").btn.cards-gallery__btn 
                                    |Записаться на медкомиссию 
                                    span со скидкой

            .swiper-pagination

        .swiper-button-next.cards-wrap__next
        .swiper-button-prev.cards-wrap__prev

.advantages
    h2.cont-title  Преимущества наших медцентров

    .adv-gallery.swiper-container
        .swiper-wrapper
            .swiper-slide 
                .adv-gallery__item 
                    .adv-gallery__title Опытные специалисты
                    .adv-gallery__img
                        img(src="img/sl-1.png")
                    .adv-gallery__article Более 100 специалистов всех направлений

            .swiper-slide 
                .adv-gallery__item 
                    .adv-gallery__title Современное оборудование
                    .adv-gallery__img
                        img(src="img/sl-2.png")
                    .adv-gallery__article Современное медицинское оборудование, все виды анализов

            .swiper-slide 
                .adv-gallery__item 
                    .adv-gallery__title Удобный график работы
                    .adv-gallery__img
                        img(src="img/sl-3.png")
                    .adv-gallery__article Записывайтесь на прием и приходите в удобное для вас время

            .swiper-slide 
                .adv-gallery__item 
                    .adv-gallery__title Удобное расположение
                    .adv-gallery__img
                        img(src="img/sl-4.png")
                    .adv-gallery__article Рядом с домом. Рядом с метро
                    .adv-gallery__fillials 28 филиалов в Москве и МО

            .swiper-slide 
                .adv-gallery__item 
                    .adv-gallery__title Медкомиссия в одно окно
                    .adv-gallery__img
                        img(src="img/sl-5.png")
                    .adv-gallery__article В наших центрах есть нарколог и психиатр и все лицензии

        .swiper-pagination

    .swiper-button-next
    .swiper-button-prev

.about-loan.container
    h2.cont-title Медсправка водительская по новой форме 003-в/у

    .cont-txt
        p Для получения водительского удостоверения на право управления транспортными средствами необходимо в ГИБДД предоставить «Медицинское заключение о наличии (об отсутствии) у водителей транспортных средств (кандидатов в водители транспортных средств) медицинских противопоказаний, медицинских показаний или медицинских ограничений к управлению транспортными средствами» по новой форме 003- В/у.

    ul.cont-list 
        li
            a(href="#") Справка для категорий А, А1, В, В1, М, ВЕ
        li
            a(href="#") Справка для погрузчиков и тракторов
        li
            a(href="#") Справка для категорий С, С1, D, D1, CE, C1E, D1E, DE, Tm, Tb
        li
            a(href="#") ЭЭГ (электроэнцефалограмма головного мозга) в ГИБДД
        li
            a(href="#") Справка для международных водительских прав
        li
            a(href="#") Справка для профессиональных водителей для работы

.priceblock.container
    h2.cont-title Цены на справки

    table.pricetable
        thead
            tr
                th НАИМЕНОВАНИЕ СПРАВКИ
                th № ФОРМЫ
                th ВРЕМЯ ОФОРМЛЕНИЯ
                th СТОИМОСТЬ
                th ОНЛАЙН ЗАПИСЬ НА МЕДКОМИССИЮ
        tbody
            tr
                td
                    .pricetable__article 
                        a(href="#") Справка для ГИБДД (форма 003-В/у) для категории А, В
                td
                    .pricetable__article-mob № ФОРМЫ
                    .pricetable__article 003-В/у
                td
                    .pricetable__article-mob ВРЕМЯ ОФОРМЛЕНИЯ
                    .pricetable__article от 20 мин
                td
                    .pricetable__article-mob СТОИМОСТЬ
                    .pricetable__article
                        b 1 200 руб.
                td
                    button(type="button").btn.pricetable__btn Записаться на комиссию

            tr
                td
                    .pricetable__article 
                        a(href="#") Справка для ГИБДД (форма 003-В/у) для категории А, В
                td
                    .pricetable__article-mob № ФОРМЫ
                    .pricetable__article 003-В/у
                td
                    .pricetable__article-mob ВРЕМЯ ОФОРМЛЕНИЯ
                    .pricetable__article от 20 мин
                td
                    .pricetable__article-mob СТОИМОСТЬ
                    .pricetable__article
                        b 1 200 руб.
                td
                    button(type="button").btn.pricetable__btn Записаться на комиссию

            tr
                td
                    .pricetable__article 
                        a(href="#") Справка для ГИБДД (форма 003-В/у) для категории А, В
                td
                    .pricetable__article-mob № ФОРМЫ
                    .pricetable__article 003-В/у
                td
                    .pricetable__article-mob ВРЕМЯ ОФОРМЛЕНИЯ
                    .pricetable__article от 20 мин
                td
                    .pricetable__article-mob СТОИМОСТЬ
                    .pricetable__article
                        b 1 200 руб.
                td
                    button(type="button").btn.pricetable__btn Записаться на комиссию

.formblock.container
    h2.cont-title Запишитесь на водительскую медкомиссию онлайн!

    .sertificat 
        .sertificat__item
            img(src="img/blank.png" width="250" height="350")
            .sertificat__article 
                span Скидка 10%

    .formblock__item
        .formblock__column
            form.formloan(action="#")
                ul.formloan__top
                    li
                        .formloan__inp-title Введите имя:
                        input(type="text" placeholder="Имя").inp
                    li
                        .formloan__inp-title Контактный телефон:
                        input(type="text" placeholder="+7 ___ ___-__-__").inp
                    li
                        .formloan__inp-title Выберите филиал:
                        .custom-select
                            select
                                option Братиславская
                                option Тест 1

                .formloan__middle
                    .formloan__inp-title Выберите нужную медсправку:
                    .custom-select
                        select
                            option Справки в ГИБДД, для категории С, D, E с электроэнцефалограммой + нарколог и психиатр 003в/у
                            option Тест 

                ul.formloan__bottom
                    li
                        button(type="submit").btn.formloan__btn 
                            |Записаться на медкомиссию 
                            span со скидкой
                    li
                        .checkblock
                            input(type="checkbox" checked).inpcheck#checkbox
                            label(for="checkbox").checkblock__label
                                |Я принимаю условия 
                                a(href="#") передачи информации

        .formblock__column
            .placemap#placemap

.exceptions.container
    h2.cont-title При каких болезнях справку для ГИБДД не выдают?

    ul.exception-list
        li 1. Умственная отсталость
        li 2. Эпилепсия
        li 3. Шизофрения
        li 4. Расстройство личности
        li 5. Слепота
        li 6. Ахроматопсия








